/* Formulaire page critic */
#formulaire_search{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#formulaire_search .form-group{
  margin: 10px;
}
/* Fin formulaire page critic */
/* Formulaire de contact */
#formulaire_contact{
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
}
/* Fin formulaire de contact */
/* formulaire login */
#formulaire_login{
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 50px;
}
/* Fin formulaire login */

/* IMAGES AVATAR  */
#image_profil{
  text-align: center;
}
/* mises en form de l'images */
.profile-pic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}

/* images qui devient sombre au hover */
.profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}


/* texte changement d'images */
.profile-pic span {
    display: inline-block;
    padding-bottom: 4.5em;
}

/* Pour faire disparaitre le "choisir un fichier" */
form input[type="file"] {
        display: none;
        cursor: pointer;
 }


/* FIN IMAGES AVATAR */


/* Style du formulaire ce style sert pour tout les formulaire du site*/

.conteneur_profil {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}



.form-group {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
}

.form-group [type],
.textarea-group textarea {
	border: 1px solid #d2d6db;
	border-radius: 6px;
	padding: 15px;
}



.button {
	font-weight: bold;
	line-height: 19px;
	background: #FF1C00;
	border: none;
	padding: 15px 25px;
	border-radius: 6px;
	color: white;
	width: 100%;
	margin-top: 24px;
}

.button:hover {
	background: #db1500;
}
.button:focus {
	background: #db1500;
}


/* Fin Style du formulaire */

/* BOUTON SWITCH */

.switch {
  margin-left: 17px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FF1C00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FF1C00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Fin BOUTON SWITCH */


/* Footer */

footer{
  background-color: #171926;
  color: #fff;
  text-align: center;
  width: 100%;
}




@media screen and (min-width: 1024px) {

  .conteneur_profil {
      margin-top: 50px;
  }


	.grid {
		display: grid;
		grid-gap: 24px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: 1fr;
	}


	.button-container {
		text-align: right;
	}

	.button {
		width: auto;
	}
}
