@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Général */

body {
    font-family: 'Montserrat';
}

h1 {
  text-align: center;
  margin: 50px 0 10px;
}

hr {
  border: solid 1px #171926;
  width: 150px;
}

/* Menu Burger */
#sidebar{
  background-color: #171926;
}

header nav {
  text-align: right;
}

#burger {
  color: #fff;
  font-size: 35px;
  display: inline-block;
  text-align: center;
}

header nav ul {
  font-size: 25px;
  color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%;

}

header nav ul li {
  margin: 100px;
}


header section.show {
  display: block;
  /* mettre display block pour qu'il se voit après le click car display:none;plus haut*/
  position: absolute;
  top: 65px;
  right: 0px;
  left: 0px;
  z-index: 5;
}


.deroule {
  text-decoration: none;
  display: block;
  /*toute la largeur deviens cliquable */
  line-height: 30px;
  padding: 10px;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bolder;
  background-color: #171926;
  color: #fff;
}

.deroule a {
  color: #fff;
}

.hr_header {
  border-bottom: 1px solid #fff!important;
  width: 270px;
  position: relative;
  z-index: 10;
  width: 100%;
}

.profil{
  justify-content: center;
  align-items: center;
}

.cache {
  display: none;
}

/* PAGE home */

#carouselExampleIndicators {
  /* height: 500px; */
  overflow: hidden;
}

#carouselExampleIndicators {
  display: none;
}

#galerie {
  display: flex;
  justify-content: center;
}

#galerie div {
  width: 1600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#galerie article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 320px;
  margin: 15px;
  border: solid 1px rgba(0, 0, 0, 0.24);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.5s;
}

#galerie article h2 {
  font-size: 25px;
  padding-top: 8%;
}

#galerie article:hover img {
  filter: blur(2px);
  transition: 0.5s;
}

#galerie article:hover {
  transform: scale(1.02);
}

/* Fin PAGE home */

/* Formulaire page critic */
#formulaire_search{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#formulaire_search .form-group{
margin: 10px;
}
/* Fin formulaire page critic */
/* Formulaire de contact */
#formulaire_contact{
width: 80%;
margin: 0 auto;
margin-top: 70px;
}
/* Fin formulaire de contact */
/* formulaire login */
#formulaire_login{
width: 80%;
margin: 0 auto;
margin-top: 70px;
margin-bottom: 50px;
}
/* Fin formulaire login */

/* IMAGES AVATAR  */
#image_profil{
text-align: center;
}
/* mises en form de l'images */
.profile-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all .3s ease;
  text-decoration: none;
  cursor: pointer;
}

/* images qui devient sombre au hover */
.profile-pic:hover {
  background-color: rgba(0,0,0,.5);
  z-index: 10000;
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
}


/* texte changement d'images */
.profile-pic span {
  display: inline-block;
  padding-bottom: 4.5em;
}

/* Pour faire disparaitre le "choisir un fichier" */
form input[type="file"] {
      display: none;
      cursor: pointer;
}


/* FIN IMAGES AVATAR */


/* Style du formulaire ce style sert pour tout les formulaire du site*/

.conteneur_profil {
width: 80%;
margin: 0 auto;
margin-bottom: 50px;
}



.form-group {
margin-top: 25px;
display: flex;
flex-direction: column;
}

.form-group [type],
.textarea-group textarea {
border: 1px solid #d2d6db;
border-radius: 6px;
padding: 15px;
}



.button {
font-weight: bold;
line-height: 19px;
background: #FF1C00;
border: none;
padding: 15px 25px;
border-radius: 6px;
color: white;
width: 100%;
margin-top: 24px;
}

.button:hover {
background: #db1500;
}
.button:focus {
background: #db1500;
}


/* Fin Style du formulaire */


/* Footer */

footer{
  background-color: #171926;
  color: #fff;
  width: 100%;
  height: 210px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: column; */
}

footer nav {
  display: flex;
}

footer nav a {
  color: #fff;
  padding: 0 20px;
}

footer nav a:hover {
  color: #fff;
}

/* Fin footer */

/* PAGE des critiques - Bouton Voir plus */

.PositionVbutton {
  margin: 25px 0;
  display: flex;
  justify-content: center;
}

#Vbutton, #Vbutton::after {
  width: 200px;
  height: 45px;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, #FF1C00 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 50px;
  box-shadow: 6px 0px 0px #171926;
  outline: transparent;
  position: relative;
  cursor: pointer;
}

#Vbutton::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'VOIR PLUS';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #171926 3%, #171926 5%, #FF1C00 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #171926;
  clip-path: var(--slice-0);
}

#Vbutton:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/* Fin PAGE critiques */

/* BOUTON SWITCH */

.switch {
  margin-left: 17px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FF1C00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FF1C00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Fin BOUTON SWITCH */

/* PAGE avec tableau des utilisateurs */

.tr_height {
    height: 50px!important;
}

/* Page pour moderer les articles */


@media  screen and (min-width: 1023px) {

  /* Général */

  main {
    width: 70%;
  }

  /* Menu/navigation */

  .cache {
    display: block;
  }

  #burger {
    display: none;
  }

  body {
    display: flex;
    flex-wrap: wrap;
  }

  #sidebar {
    position: static;
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: #171926;
    height: auto;
    width: 30%;
    padding: 3px;
  }

  #sidebar nav ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }

  #sidebar nav ul {
    font-size: 15px;
  }

  #sidebar nav ul li {
    margin: 10px;
  }
  #sidebar nav {
    display: flex;
    flex-direction: column;
  }

  #sidebar nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.205);
    transition: 0.3s;
    text-decoration: none;
  }

    #sidebar nav i {
    padding-right: 20px;
    padding-left: 15px;
  }

  header section.deroule {
    padding-top: 0;
  }

  .profil p {
    font-size: 12px;
  }

  /* SLIDER Page Home */

  #carouselExampleIndicators {
    display: block;
  }

  /* Formulaire */

  .conteneur_profil {
    margin-top: 50px;
  }


  .grid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
  }


  .button-container {
    text-align: right;
  }

  .button {
    width: auto;
  }

}

@media  screen and (min-width: 1200px) {
  /* Général */

  main {
    width: 80%;
  }

  #sidebar {
    width: 20%;
  }
}
