body {
  display: flex;
}

#sidebar {
  color: #fff;
  display: flex;
  flex-direction: column;
  background-color: #171926;
  height: 100vh;
  width: 300px;
  padding: 15px;
}

#sidebar nav {
  display: flex;
  flex-direction: column;
}

#sidebar nav a  {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  padding: 5px;
  margin: 5px;
}

#sidebar nav a:hover {
  background-color: rgba(255, 255, 255, 0.205);
  transition: 0.3s;
  text-decoration: none;
  /* border-radius: 5px; */
}

#sidebar nav i {
  padding-right: 20px;
  padding-left: 15px;
}

hr {
  border-bottom: 1px solid #fff;
  width: 270px;
  position: relative;
  z-index: 10;
  width: 270px;
}


.profil a {
  color: #fff;
}
.profil a:hover {
  text-decoration: underline;
}
