@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Général */

body {
    font-family: 'Montserrat';
}

h1 {
  text-align: center;
  margin: 50px 0 10px;
}

hr {
  border: solid 1px #171926;
  width: 150px;
}

/* Menu Burger */
#sidebar{
  background-color: #171926;
}

header nav {
  text-align: right;
}

#burger {
  color: #fff;
  font-size: 35px;
  display: inline-block;
  text-align: center;
}

header nav ul {
  font-size: 25px;
  color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%;

}

header nav ul li {
  margin: 100px;
}


header section.show {
  display: block;
  /* mettre display block pour qu'il se voit après le click car display:none;plus haut*/
  position: absolute;
  top: 65px;
  right: 0px;
  left: 0px;
  z-index: 5;
}


.deroule {
  text-decoration: none;
  display: block;
  /*toute la largeur deviens cliquable */
  line-height: 30px;
  padding: 10px;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bolder;
  background-color: #171926;
  color: #fff;
}

.deroule a {
  color: #fff;
}

.hr_header {
  border-bottom: 1px solid #fff!important;
  width: 270px;
  position: relative;
  z-index: 10;
  width: 100%;
}

.profil{
  justify-content: center;
  align-items: center;
}

.cache {
  display: none;
}

/* PAGE home */

#carouselExampleIndicators {
  /* height: 500px; */
  overflow: hidden;
}

#galerie {
  display: flex;
  justify-content: center;
}

#galerie div {
  width: 1600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#galerie article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 320px;
  margin: 15px;
  border: solid 1px rgba(0, 0, 0, 0.24);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#galerie article h2 {
  padding-top: 7%;
}

/* Fin PAGE home */

/* PAGE avec tableau des utilisateurs */

.tr_height {
    height: 50px!important;
}

/* Page pour moderer les articles */


@media  screen and (min-width: 1023px) {

  /* Général */

  main {
    width: 70%;
  }

  /* Menu/navigation */

  .cache {
    display: block;
  }

  #burger {
    display: none;
  }

  body {
    display: flex;
    flex-wrap: wrap;
  }

  #sidebar {
    position: static;
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: #171926;
    height: auto;
    width: 30%;
    padding: 3px;
  }

  #sidebar nav ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }

  #sidebar nav ul {
    font-size: 15px;
  }

  #sidebar nav ul li {
    margin: 10px;
  }
  #sidebar nav {
    display: flex;
    flex-direction: column;
  }

  #sidebar nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.205);
    transition: 0.3s;
    text-decoration: none;
  }

    #sidebar nav i {
    padding-right: 20px;
    padding-left: 15px;
  }

  header section.deroule {
    padding-top: 0;
  }

  .profil p {
    font-size: 12px;
  }

}

@media  screen and (min-width: 1200px) {
  /* Général */

  main {
    width: 80%;
  }

  #sidebar {
    width: 20%;
  }
}
